<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>chuk norris jokes api response</title>
    <h1>Jokes by Chuk Norris - Let us laugh :) </h1>

</head>
<body>

<b><font face="Arial" size="5px" color="#FF7A59"> {{jokes}} </font></b>

<br> </br>
<br>If you want to see which category jokes are available , please use <b>hostname/category</b> in the url </br>
<br> </br>
<br> or select use <b>hostname/your-selection i.e 'hostname/animal'</b> from below category</br>
<br> 1. science </br>
<br> 2. movie </br>
<br> 3. money </br>
<br> 4. food </br>
<br> 5. fashion </br>
<br> 6. celebrity </br>
<br> 7. explicit </br>
<br> 8. animal </br>
<br> 9. sport </br>
<br> 10. career </br>
<br> 11. travel </br>
<br> 12. religion </br>
<br> 13. dev </br>
<br> 14. history </br>
<br> 15. music </br>
<br> 16. political </br>
</body>
</html>
